<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tarunkumar.doctorfind">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".signup"
            android:label="Signup"/>
        <activity android:name=".docsignup"
            android:label="Doctorsignup"/>
        <activity android:name=".update"
            android:label="Update"/>
        <activity android:name=".search"
            android:label="Search Doctor"/>
        <activity android:name=".list" />
        <activity android:name=".doctor_profile"
            android:label="Doctor Profile"/>
        <activity android:name=".patients_profile"
            android:label="User Profile"></activity>
    </application>

</manifest>